DOCKER=True
DOCKER_MODE=dev

SECRET_KEY=+(!#+akcf5+$$t1875*2*mpn!kakn&e#@0z$8%h_nl(&u7h88a
DJANGO_SETTINGS_MODULE=config.settings.local
DEBUG=True

DB_HOST=postgres
DB_PORT=5432
REDIS_URL=redis://redis:6379/1
REDIS_HOST=redis://redis:6379


POSTGRES_PASSWORD=starnavi_password
POSTGRES_USER=starnavi_user
POSTGRES_DB=starnavi_db

MEDIA_ROOT=media
STATIC_ROOT=staticfiles
STATICFILES_DIRS=static

LANGUAGE_CODE=en-us
ALLOWED_HOSTS=*, 127.0.0.1, localhost

EMAIL_HOST_USER=mail
EMAIL_HOST_PASSWORD=mail_password
